/*#nav-menu, .dropdown-menu {
    background-color: #9649e9;
    border-bottom-left-radius: 3em;
}

#nav-menu-name {
    color: #ffffff;
    font-size: 2em;
    margin: 0.5em 10% 0.5em 10%;
}

.nav-menu-li {
    margin: 1em;
}

    .nav-menu-li a {
        color: #ffffff;*/
        /* font-weight: 500; */
        /*font-size: 16px;*/
        /*transition: 0.2s;
    }

        .nav-menu-li a:hover {
            color: #9649e9;
            background-color: #ffffff;
            border: #bd8df1;
            border-radius: 3.5%;*/
            /* zoom: 1.2px; */
            /*transform: scale(1.1);
        }

.dropdown-menu a:hover {
    transform: none;
}

.nav-user a,
.nav-user a:hover {
    color: #dad8d8;
    font-weight: bold;
}

li .nav-logout {
    color: #ffffff;
    font-size: 16px;
}

.nav-logout:hover {
    color: #9649e9;
    background-color: #ebebeb;
    border-radius: 3.5%;
}*/
